@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';

        $(document).ready(function () {
            $("#CPF").mask("999.999.999-99");
        });
    </script>
    @Scripts.Render("~/bundles/clientes");

}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")

